<form action='/duplicate/<%= @file_name %>' method='post'>
  <label for='dupname'>Choose name for duplicate of <%= @file_name %></label>
  <div>
    <input name='dupname' id='dupname'>
    <input type='submit' value='Duplicate'>
  </div>
</form>