<!doctype html>
<html lang='en-US'>
  <head>
    <title>CMS</title>
    <link rel='stylesheet' href='/stylesheets/cms.css' type='text/css'>
  </head>
  <body>
    <p class='<%= 'message' if session[:message] %>'><%= session.delete(:message) if session[:message] %></p>
    <%= yield %>
  </body>
</html>