<form method='post' action='/users/signup'>
  <label for='username'>Enter your username:</label>
  <input type='text' id='username' name='username' value=<%= params[:username] %>>
  <br>
  <label for='password'>Enter your password:</label>
  <input type='password' id='password' name='password' value=''>
  <br>
  <input type='submit' value='Sign Up'>
</form>














